<div class='card'>
  <div class='card-header'>

    {{pageTitle}}
  </div>
  <div class='card-body'>
    <div class='row'>
    </div>
    <div class='row'>
    </div>
    <div class='table-responsive'>
      <table class='table' *ngIf='products.length'>
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let product of productsResponse'>
            <td>{{product.Id}}</td>
            <td>{{ product.Name | lowercase  }}</td>
            <td>{{product.Description | uppercase}}</td>
            <td>{{ product.Price | currency:'USD':'symbol':'1.2-2'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
